<div class="text-end">EJS : TodoList</div>
<nav class="navbar navbar-expand navbar-dark rounded" style="background-color: #646777;">
  <div class="container-fluid">
    <div class="navbar-nav py-1">
      <a href="/todo" class="nav-link">Home</a>
      <a href="/todo/todoForm" class="nav-link">ShowAll</a>
    </div>
    <form class="d-flex" action="/todo/todoform" method="get">
      <input class="form-control me-2" name="search" id="search" type="search" placeholder="Search" >
      <button class="btn btn-outline-light text-white-50" type="submit">Search</button>
    </form>
  </div>
</nav>
<hr class="shadow bg-secondary">


