<div class="input-group">
  <span class="input-group-text">JOB</span>
  <input type="text" name="list" class="form-control w-25"/>
  <span class="input-group-text">Due Date</span>
  <input type="date" name="dueDate" id="duedate" class="form-control"/>
  <button class="btn btn-primary col-1">Add</button>
</div>